<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
	<ul>
		<li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
	</ul>
		<% end %>
	<% else %>
		"No restaurants"
	<% end %>
		 	

<a href='restaurants/new'>Add a restaurant</a>

